.posts{
    text-align: center;
    border-radius: 10px;   
    padding: 20px;
    margin: 50px 50px;
    border: 2px solid black;
	box-shadow: 10px 10px 5px lightgray;
	margin-top: 7%;
}

.see-more {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:10px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.see-more:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.see-more:active {
	position:relative;
	top:1px;
}
